<head>
	<script src='/ratchet-2.0.2/js/segmented-controllers.js'></script>  
<script src='/ratchet-2.0.2/dist/js/ratchet.min.js'></script>
  <link href='/ratchet-2.0.2/dist/css/ratchet-theme-ios.css', rel='stylesheet'>
<link href='/ratchet-2.0.2/dist/css/ratchet.css', rel='stylesheet'>

</head>
<header>
	<header class="bar bar-nav">
  <h1 class="title">Clock in</h1>
</header>



</header>
<div style='padding-bottom: 40px;'></div>
<div style='text-align: center;'>
<h1>Timesheet Application</h1>
Date:
{% for item in wdate %}
{{item.date}}
{% endfor %}
<div style='padding-bottom: 20px;'></div>
Start Time:
{% for item in wtime %}
{{item.start_time}}
{% endfor %}
<div style='padding-bottom: 20px;'></div>
End Time:
{% for item in etime %}
{{item.end_time}}
{% endfor %}

<form name='timebut' method='POST'>
<button type='submit' value='submit'>Clock in</button>
</form>
</div>