<head>
	<script src='/ratchet-2.0.2/js/segmented-controllers.js'></script>  
<script src='/ratchet-2.0.2/dist/js/ratchet.min.js'></script>
  <link href='/ratchet-2.0.2/dist/css/ratchet-theme-ios.css', rel='stylesheet'>
<link href='/ratchet-2.0.2/dist/css/ratchet.css', rel='stylesheet'>
<script src='/hammer.js-1.1.x/hammer.js' ></script>

</head>
<header>
	<header class="bar bar-nav">
  {% include 'head.html' %}
  {% block head %}
  {% endblock %}
</header>



</header>
<body>
<div id='myElement'>
<div style='padding-bottom: 40px;'></div>
<div style='text-align: center;'>
<h1>Timesheet Application</h1>
Date:
{% for item in wdate %}
{{item.date}}
{% endfor %}
<div style='padding-bottom: 20px;'></div>
Start Time:
{% for item in wtime %}
{{item.start_time}}
{% endfor %}
<div style='padding-bottom: 20px;'></div>
End Time:
{% for item in etime %}
{{item.end_time}}
{% endfor %}

<form name='timebut' method='POST'>
<button type='submit' value='submit'>Clock in</button>
</form>
</div>
</div>
</body>
    <script>


  var myElement = document.getElementById('myElement');

// create a simple instance
// by default, it only adds horizontal recognizers
var mc = new Hammer(myElement);

// listen to events...
mc.on("swiperight", function(ev) {
    window.location = "/overview";
});

mc.on("swipeleft", function(ev) {
    window.location = "/overview";
});</script>